@tailwind base;
@tailwind components;
@tailwind utilities;

@property --welcome-x {
  syntax: "<number>";
  initial-value: 0.5;
  inherits: false;
}

@property --welcome-y {
  syntax: "<number>";
  initial-value: 0.5;
  inherits: false;
}
@property --welcome-deg {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}
@property --welcome-radius {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}
